body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    background-image: url("images/museum_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Playfair Display", serif; /* 모든 요소에 Playfair Display 폰트 적용 */
    font-optical-sizing: auto;
    font-weight: 500; /* 기본 폰트 두께 설정 */
}

h1 {
    text-align: center;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #e0e0e0;
}
/* Playfair Display 폰트 설정 */
.playfair-display-header {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700; /* 원하는 가중치로 설정 */
    font-style: normal;
}

.playfair-display-subheader {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500; /* 원하는 가중치로 설정 */
    font-style: normal;
}
